_posts/

mkalex/.sass-cache
mkalex/webPage/static/assets/sass/.sass-cache
mkalex/webPage/static/assets/css/main.css


mkalex/webPage/static/image/blog

.jsbeautifyrc

*.pyc
*.map

mkalex/mkalex/settings.py

ENV3.6
