_posts/

mkalex/.sass-cache
mkalex/webPage/static/assets/sass/.sass-cache
mkalex/webPage/static/assets/css/main.css


mkalex/webPage/static/image/blog

.jsbeautifyrc

*.pyc
*.map

ENV3.6

mkalex/mkalex/deploy.py
