
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="{{ static("/assets/css/main.css") }}" type="text/css">
<!-- icon -->
 <link rel="apple-touch-icon" href="{{ static("/ico/logo152.png") }}" sizes="152x152">
  <link rel="apple-touch-icon" href="{{ static("/ico/logo120.png") }}" sizes="120x120">
  <link rel="apple-touch-icon" href="{{ static("/ico/logo76.png") }}" sizes="76x76">
  <link rel="apple-touch-icon" href="{{ static("/ico/logo60.png") }}" sizes="60x60">
  <link rel="shortcut icon" href="{{ static("/ico/favicon.ico") }}" type="image/x-icon">

 <script src="{{ static("/assets/js/zeptojs.min.js") }}" charset="utf-8"></script>
<script src="{{ static("/assets/js/main.js") }}" charset="utf-8"></script>

</head>
