<div class="mk-container">
    <nav class="mk-nav-main">
        <section>
            <embed src="{{ static('/image/commen/logo.svg') }}" class="nav-min-logo">
            <embed src="{{ static('/image/commen/slogon.svg') }}" class="nav-min-slogon">
            <div class="nav-toggle">
                <div></div><div></div><div></div>
            </div>
        </section>
        <ul>
            <li><a href="{{ url('webPage:index') }}">Home</a></li>
            <li><a href="{{ url('webPage:blog') }}">Blog</a></li>
            <li><a class="under-construction" href="{{ url('webPage:portfolio') }}">Portfolio</a></li>
            <li ><a  class="under-construction" href="{{ url('webPage:archive') }}">Archive</a></li>
            <li><a class="under-construction" href="{{ url('webPage:collection') }}">Collection</a></li>
            <li><a href="{{ url('webPage:about') }}">About</a></li>
        </ul>
        <div>
            <h2 style="display:none">格藝尋道 術設溯淵</h2>
            <div>
                <embed src="{{ static('/image/commen/slogon.svg') }}">
            </div>
        </div>
        <script type="text/javascript">
            $(".nav-toggle").on("click", function() {
                var height = $(".mk-nav-main>ul").css("height");
                if (height !== "0px") {
                    $(".mk-nav-main>ul").css("height", "0px");
                } else {
                    $(".mk-nav-main>ul").css("height", "360px");
                }
                // $(".mk-nav-main>ul").css("height","300px")
            })
        </script>
    </nav>
</div>
