<div class="right-col ">
    <div class="">
        <div class="">
            <div class="">
                <h4>分類</h4>
            </div>
            <ul class="right-col-ul-collection">
                {% for cate in right_col_data.category %}
                <li>
                    <a href="{{ url('webPage:blog_category_archive', kwargs={'category_id': cate.id}) }}">
                    {{cate.name}}</a>
                     <span> {{cate.num}}</span>
                </li>
                {% endfor %}
                <li>
                    <a href="{{ url('webPage:blog') }}">all</a> <span> {{right_col_data.num_all}}</span>
                </li>
            </ul>
        </div>
        <div class="">
            <div class="">
                <h4>推荐</h4>
            </div>
            <ul class="right-col-ul-prom">
                {% for article in right_col_data.Recommended_article_list %}
                <li>
                    <a href="{{ url('webPage:blog_detail', kwargs={'id': article.id}) }}">{{ article.title }}</a>
                </li>
                {% else %}
                <span>no blog found</span>
                {% endfor %}
            </ul>
        </div>
        <div class="">
            <div class="">
                <h4>时間</h4>
            </div>
            <ul class="right-col-ul-collection">
                <li>
                    <a href="{{ url('webPage:blog_year_archive', kwargs={'year': 2017}) }}">2017</a> <span> {{right_col_data.num2017}}</span>
                </li>
                <li>
                    <a href="{{ url('webPage:blog_year_archive', kwargs={'year': 2016}) }}">2016</a> <span> {{right_col_data.num2016}}</span>
                </li>
                <li>
                    <a href="{{ url('webPage:blog') }}">all</a> <span> {{right_col_data.num_all}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
