<div class="right-col ">
    <div class="">
        <div class="">
            <div class="">
                <h4>分類</h4>
            </div>
            <ul class="right-col-ul-collection">
                <li>
                    <a href="#">设计</a> <span> 3</span>
                </li>
                <li>
                    <a href="#">前端开发</a> <span> 23</span>
                </li>
                <li>
                    <a href="#">建模</a><span> 12</span>
                </li>
            </ul>
        </div>
        <div class="">
            <div class="">
                <h4>推荐</h4>
            </div>
            <ul class="right-col-ul-prom">
                {% for article in right_col_data.Recommended_article_list %}
                <li>
                    <a href="#">{{ article.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="">
            <div class="">
                <h4>时間</h4>
            </div>
            <ul class="right-col-ul-collection">
                <li>
                    <a href="#">2017</a> <span> {{right_col_data.num2017}}</span>
                </li>
                <li>
                    <a href="#">2016</a> <span> {{right_col_data.num2016}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
