<div class="mk-container">
    <header class="mk-title-main">
        <div class="mk-title-main-t">
            <div class="mk-title-main-s"></div>
            <div class="mk-title-main-h">
                <h1>{{page_title}}</h1>
            </div>
        </div>
        <div class="mk-title-main-logo">
            <div class="">
                <embed src="{{ static('/image/commen/logo.svg') }}">
            </div>
        </div>
    </header>
</div>
