@charset "UTF-8";
html {
  font-size: 16px; }

.mk-container {
  width: 62.5rem;
  margin: auto;
  display: flex; }
  @media (max-width: 1000px) {
    .mk-container {
      width: 95%; } }

.t {
  width: 100%;
  height: 30px;
  background-color: #888; }

.mk-c {
  display: flex;
  width: 62.5rem;
  margin: auto;
  justify-content: center;
  flex-grow: 1; }
  @media (max-width: 1000px) {
    .mk-c {
      width: 95%; } }

.b {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box; }

.col {
  flex-direction: column; }

.u {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 5px; }

.sep-1 {
  box-sizing: border-box;
  width: 8.33333%;
  min-height: 1px; }

.sep-2 {
  box-sizing: border-box;
  width: 16.66667%;
  min-height: 1px; }

.sep-3 {
  box-sizing: border-box;
  width: 25%;
  min-height: 1px; }

.sep-4 {
  box-sizing: border-box;
  width: 33.33333%;
  min-height: 1px; }

.sep-5 {
  box-sizing: border-box;
  width: 41.66667%;
  min-height: 1px; }

.sep-6 {
  box-sizing: border-box;
  width: 50%;
  min-height: 1px; }

.sep-7 {
  box-sizing: border-box;
  width: 58.33333%;
  min-height: 1px; }

.sep-8 {
  box-sizing: border-box;
  width: 66.66667%;
  min-height: 1px; }

.sep-9 {
  box-sizing: border-box;
  width: 75%;
  min-height: 1px; }

.sep-10 {
  box-sizing: border-box;
  width: 83.33333%;
  min-height: 1px; }

.sep-11 {
  box-sizing: border-box;
  width: 91.66667%;
  min-height: 1px; }

.sep-12 {
  box-sizing: border-box;
  width: 100%;
  min-height: 1px; }

@media (max-width: 100px) {
  .cd-1 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-1 > div {
      width: 100%; } }

@media (max-width: 200px) {
  .cd-2 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-2 > div {
      width: 100%; } }

@media (max-width: 300px) {
  .cd-3 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-3 > div {
      width: 100%; } }

@media (max-width: 400px) {
  .cd-4 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-4 > div {
      width: 100%; } }

@media (max-width: 500px) {
  .cd-5 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-5 > div {
      width: 100%; } }

@media (max-width: 600px) {
  .cd-6 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-6 > div {
      width: 100%; } }

@media (max-width: 700px) {
  .cd-7 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-7 > div {
      width: 100%; } }

@media (max-width: 800px) {
  .cd-8, .mk-footer > div > div > ul {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-8 > div, .mk-footer > div > div > ul > div {
      width: 100%; } }

@media (max-width: 900px) {
  .cd-9 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-9 > div {
      width: 100%; } }

@media (max-width: 1000px) {
  .cd-10 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-10 > div {
      width: 100%; } }

@media (max-width: 1100px) {
  .cd-11 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-11 > div {
      width: 100%; } }

@media (max-width: 1200px) {
  .cd-12 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-12 > div {
      width: 100%; } }

@media (max-width: 1300px) {
  .cd-13 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-13 > div {
      width: 100%; } }

@media (max-width: 1400px) {
  .cd-14 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-14 > div {
      width: 100%; } }

@media (max-width: 1500px) {
  .cd-15 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-15 > div {
      width: 100%; } }

@media (max-width: 1600px) {
  .cd-16 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
    .cd-16 > div {
      width: 100%; } }

@media (max-width: 100px) {
  .inv-1 {
    display: none !important; } }

@media (max-width: 200px) {
  .inv-2 {
    display: none !important; } }

@media (max-width: 300px) {
  .inv-3 {
    display: none !important; } }

@media (max-width: 400px) {
  .inv-4 {
    display: none !important; } }

@media (max-width: 500px) {
  .inv-5 {
    display: none !important; } }

@media (max-width: 600px) {
  .inv-6 {
    display: none !important; } }

@media (max-width: 700px) {
  .inv-7 {
    display: none !important; } }

@media (max-width: 800px) {
  .inv-8 {
    display: none !important; } }

@media (max-width: 900px) {
  .inv-9 {
    display: none !important; } }

@media (max-width: 1000px) {
  .inv-10, .right-col, #blog-banner > .banner-content > div > embed {
    display: none !important; } }

@media (max-width: 1100px) {
  .inv-11 {
    display: none !important; } }

@media (max-width: 1200px) {
  .inv-12 {
    display: none !important; } }

@media (max-width: 1300px) {
  .inv-13 {
    display: none !important; } }

@media (max-width: 1400px) {
  .inv-14 {
    display: none !important; } }

@media (max-width: 1500px) {
  .inv-15 {
    display: none !important; } }

@media (max-width: 1600px) {
  .inv-16 {
    display: none !important; } }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0px;
  padding-top: 0px;
  font-family: "PingFang SC","microsoft yahei",sans-serif;
  background-color: #fafafa; }
  body > .mk-page {
    flex: 1; }

.mk-small-dot, .mk-small-dot-tail::after, .mk-nav-main > div > div::after, .mk-title-main > .mk-title-main-t > .mk-title-main-s {
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 20px;
  background-color: #e8e8e8; }

.mk-small-dot-tail::after {
  position: relative;
  display: block;
  float: right;
  content: ' '; }

::selection {
  color: #FFFFFF;
  background-color: #d23f3f;
  border-radius: 10px; }

::-webkit-scrollbar {
  width: 15px;
  height: 15px; }

/* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-track {
  background-color: #e64747; }

/* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
  background-color: black; }

/* 滑块颜色 */
::-webkit-scrollbar-button {
  background-color: #8b1313;
  width: 0px;
  height: 0px; }

/* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
  background-color: black; }

/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
@font-face {
  font-family: bigCaslon;
  src: url("../font/BigCaslon.ttf");
  font-weight: normal; }
.mk-nav-main {
  height: 3.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (max-width: 700px) {
    .mk-nav-main {
      padding: 0px;
      display: block; } }
  .mk-nav-main > ul {
    display: flex;
    align-items: center;
    padding-left: 0px;
    margin: 0px;
    transition: 1s cubic-bezier(0, 0, 0.1, 0.93); }
    @media (max-width: 700px) {
      .mk-nav-main > ul {
        position: relative;
        left: 0px;
        background-color: #fff;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 0px;
        z-index: 999; } }
    .mk-nav-main > ul > li {
      display: flex;
      align-items: center;
      height: 3.75rem;
      list-style: none; }
      .mk-nav-main > ul > li:first-child > a {
        border-left: 0px; }
      .mk-nav-main > ul > li > a {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        text-decoration: none;
        height: 2.8125rem;
        width: 100%;
        line-height: 2.8125rem;
        border-left: solid 1px #e8e8e8;
        font-weight: 300;
        color: #303030;
        transition: 0.3s ease-in; }
        .mk-nav-main > ul > li > a:hover {
          background-color: #2d2d2d;
          color: #fff; }
  .mk-nav-main > div {
    display: flex; }
    .mk-nav-main > div > div > embed {
      margin: 0px;
      font-size: 2rem;
      border-bottom: solid 1px #e8e8e8;
      height: 3.75rem;
      line-height: 3.75rem;
      text-align: right;
      width: 300px; }
      @media (max-width: 900px) {
        .mk-nav-main > div > div > embed {
          width: 200px;
          vertical-align: middle; } }
      @media (max-width: 800px) {
        .mk-nav-main > div > div > embed {
          display: none; } }
    .mk-nav-main > div > div::after {
      position: relative;
      display: block;
      float: right;
      margin-top: 3.5rem;
      content: ' '; }
      @media (max-width: 700px) {
        .mk-nav-main > div > div::after {
          display: none; } }
  .mk-nav-main > section {
    display: none;
    width: 100%;
    border-bottom: solid 2px #ebebeb; }
    @media (max-width: 700px) {
      .mk-nav-main > section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45px; } }
    .mk-nav-main > section > .nav-min-logo {
      width: 30px; }
    .mk-nav-main > section > .nav-min-slogon {
      width: 150px; }
    .mk-nav-main > section > div {
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .mk-nav-main > section > div > div {
        background-color: #c9c9c9;
        height: 4px;
        width: 30px;
        border-radius: 5px; }

.mk-title-main {
  display: flex;
  width: 100%;
  height: 8.75rem;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; }
  @media (max-width: 700px) {
    .mk-title-main {
      height: 5.625rem; } }
  .mk-title-main > .mk-title-main-t {
    display: flex;
    align-items: center;
    flex-grow: 1; }
    @media (max-width: 700px) {
      .mk-title-main > .mk-title-main-t > .mk-title-main-s {
        display: none; } }
    .mk-title-main > .mk-title-main-t > .mk-title-main-s::before {
      content: '';
      display: block;
      height: 3.75rem;
      margin-top: -4.125rem;
      margin-left: 0.1875rem;
      border-left: solid 1px #f1f0f0; }
    .mk-title-main > .mk-title-main-t > .mk-title-main-s::after {
      content: '';
      display: block;
      height: 3.75rem;
      margin-top: 1.25rem;
      margin-left: 0.1875rem;
      border-left: solid 1px #f1f0f0; }
    .mk-title-main > .mk-title-main-t > .mk-title-main-h {
      flex-grow: 1; }
      @media (max-width: 700px) {
        .mk-title-main > .mk-title-main-t > .mk-title-main-h {
          display: flex;
          flex-direction: row-reverse; } }
      .mk-title-main > .mk-title-main-t > .mk-title-main-h > h1 {
        display: inline-block;
        font-size: 3rem;
        font-weight: 100;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 31.25rem;
        background-color: #fafafa;
        white-space: nowrap; }
        @media (max-width: 700px) {
          .mk-title-main > .mk-title-main-t > .mk-title-main-h > h1 {
            margin-right: 20px;
            white-space: normal;
            z-index: -1; } }
      .mk-title-main > .mk-title-main-t > .mk-title-main-h::after {
        content: '';
        display: block;
        width: 100%;
        position: relative;
        top: -4.03125rem;
        z-index: -1;
        border-top: solid 1px #f1f0f0; }
        @media (max-width: 700px) {
          .mk-title-main > .mk-title-main-t > .mk-title-main-h::after {
            display: none; } }
  .mk-title-main > .mk-title-main-logo {
    width: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 700px) {
      .mk-title-main > .mk-title-main-logo {
        display: none; } }
    .mk-title-main > .mk-title-main-logo > div {
      width: 9.375rem;
      height: 9.375rem;
      border-radius: 4.6875rem;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center; }
      .mk-title-main > .mk-title-main-logo > div > embed {
        width: 6.25rem;
        height: 6.25rem; }

.right-col {
  width: 12.5rem;
  min-height: 31.25rem;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: solid 1px #e8e8e8;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start; }
  .right-col > div {
    width: 11.25rem; }
    .right-col > div > div {
      margin-top: 0.625rem;
      border-top: solid 1px #e8e8e8;
      border-bottom: solid 1px #e8e8e8; }
      .right-col > div > div > div {
        display: flex;
        flex-direction: column;
        height: 4.375rem; }
        .right-col > div > div > div > h4 {
          font-weight: 100;
          font-size: 1.5rem;
          color: #828282;
          margin: 0px;
          line-height: 4.375rem;
          height: 4.375rem;
          background-color: #fafafa;
          width: 3.75rem; }
        .right-col > div > div > div::before {
          position: relative;
          top: 2.1875rem;
          z-index: -1;
          display: block;
          width: 100%;
          content: ' ';
          border-top: solid 1px #cdcdcd; }
        .right-col > div > div > div::after {
          margin-top: -2.5625rem;
          align-self: flex-end;
          display: block;
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 20px;
          content: ' ';
          background-color: #cdcdcd; }

.right-col-ul-collection {
  margin: 0px;
  padding-left: 0.625rem;
  list-style: none; }
  .right-col-ul-collection > li {
    margin-top: 10px;
    margin-bottom: 10px; }
    .right-col-ul-collection > li > a {
      text-decoration: none;
      color: black;
      font-weight: 100;
      font-size: 1.25rem;
      background-color: #fafafa;
      transition: 0.3s ease-out; }
      .right-col-ul-collection > li > a:hover {
        background-color: #000;
        padding-left: 15px;
        padding-right: 5px;
        border-radius: 1.875rem;
        color: #fff; }
    .right-col-ul-collection > li > span {
      float: right;
      background-color: #fafafa;
      color: #cdcdcd;
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 1.75rem; }
    .right-col-ul-collection > li::after {
      position: relative;
      display: block;
      float: right;
      content: ' ';
      border-bottom: dashed 1px #dfdfdf;
      width: 100%;
      top: -0.875rem;
      z-index: -1; }

.right-col-ul-prom {
  margin: 0px;
  padding-left: 0.625rem;
  list-style: none; }
  .right-col-ul-prom > li {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.3s ease-out; }
    .right-col-ul-prom > li:hover {
      background-color: #ededed;
      padding-left: 15px;
      padding-right: 5px; }
    .right-col-ul-prom > li > a {
      transition: 0.3s ease-out;
      text-decoration: none;
      font-weight: 200;
      color: #373737; }

.mk-footer {
  width: 100%;
  height: 225px;
  background-color: #000;
  font-weight: 100;
  color: #848484;
  margin-top: 6.25rem; }
  .mk-footer > div {
    max-width: 75rem;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%; }
    .mk-footer > div > div {
      display: flex;
      align-items: center;
      height: 100%;
      flex-grow: 1; }
      .mk-footer > div > div > ul {
        display: flex;
        list-style: none;
        width: 100%;
        padding: 0px;
        justify-content: center; }
        .mk-footer > div > div > ul > li {
          flex-grow: 1; }
          .mk-footer > div > div > ul > li > a {
            text-decoration: none;
            white-space: nowrap;
            color: #848484;
            height: 50px;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            transition: 0.3s ease-out; }
            .mk-footer > div > div > ul > li > a:hover {
              color: #fff; }
    .mk-footer > div > .mk-footer-left {
      position: relative;
      top: -5px; }
      @media (max-width: 500px) {
        .mk-footer > div > .mk-footer-left {
          left: 1.875rem; } }
    .mk-footer > div > .mk-footer-right {
      position: relative;
      top: -5px; }
      @media (max-width: 500px) {
        .mk-footer > div > .mk-footer-right {
          right: 1.875rem; } }
    .mk-footer > div > .mk-footer-center {
      flex-direction: column;
      flex-shrink: 1; }
      .mk-footer > div > .mk-footer-center > .mk-footer-design-note {
        font-family: bigCaslon;
        font-size: 1rem;
        color: #fff;
        height: 50px;
        line-height: 50px;
        white-space: nowrap; }
      .mk-footer > div > .mk-footer-center > div {
        width: 100%;
        position: relative;
        top: 45px; }
        .mk-footer > div > .mk-footer-center > div > div {
          width: 30%;
          border-bottom: solid 1px #343434; }
        .mk-footer > div > .mk-footer-center > div :last-child {
          float: right; }
      .mk-footer > div > .mk-footer-center > embed {
        margin-top: 10px; }
      .mk-footer > div > .mk-footer-center > .mk-footer-copyright {
        transition: 0.3s ease-out;
        font-size: 0.875rem;
        text-align: center;
        margin-top: 25px;
        cursor: pointer; }
        .mk-footer > div > .mk-footer-center > .mk-footer-copyright:hover {
          color: #fff; }
        .mk-footer > div > .mk-footer-center > .mk-footer-copyright > span {
          font-family: bigCaslon; }
      .mk-footer > div > .mk-footer-center > .mk-footer-beian {
        transition: 0.3s ease-out;
        font-size: 0.875rem;
        margin-top: 5px;
        cursor: pointer; }
        .mk-footer > div > .mk-footer-center > .mk-footer-beian:hover {
          color: #fff; }

.banner-hr {
  margin: 0px;
  border: 0px;
  height: 1.25rem;
  width: 100%;
  background-color: #000; }
  @media (max-width: 500px) {
    .banner-hr {
      height: 0.625rem; } }

#blog-banner {
  width: 100%;
  background: #123;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  #blog-banner > .banner-content {
    width: 100%;
    background: #345;
    height: 0px;
    padding-bottom: 30%;
    background-image: url("../../image/commen/banner/blog.jpg");
    background-size: 100% 100%; }
    #blog-banner > .banner-content > div {
      width: 80%;
      max-width: 75rem;
      height: 6.25rem;
      background-color: rgba(0, 0, 0, 0.72);
      margin: auto;
      margin-top: 10%;
      display: flex;
      align-items: center;
      box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.5); }
      @media (max-width: 1000px) {
        #blog-banner > .banner-content > div {
          height: 4.125rem; } }
      @media (max-width: 500px) {
        #blog-banner > .banner-content > div {
          margin-top: 5%; } }
      #blog-banner > .banner-content > div > h1 {
        font-family: BigCaslon;
        white-space: nowrap;
        width: 60%;
        text-align: center;
        font-size: 2.625rem;
        color: #989898; }
        @media (max-width: 1000px) {
          #blog-banner > .banner-content > div > h1 {
            width: 100%;
            color: #fff;
            font-size: 2.25rem; } }
        @media (max-width: 500px) {
          #blog-banner > .banner-content > div > h1 {
            font-size: 1.5rem; } }
      #blog-banner > .banner-content > div > embed {
        width: 40%;
        margin-right: 1.25rem; }

.mk-blog-list {
  width: 100%;
  box-sizing: border-box;
  padding-right: 0.625rem;
  margin-top: 1.875rem; }

.mk-blog-block {
  width: 100%;
  height: 9.0625rem;
  border-radius: 0.625rem;
  border: solid 1px #e8e8e8;
  margin-bottom: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 750px) {
    .mk-blog-block {
      flex-direction: column-reverse;
      height: auto;
      padding-left: 0.3125rem;
      padding-right: 0.3125rem; } }
  .mk-blog-block:hover {
    background-color: #F1F3F2; }
  .mk-blog-block > div {
    flex-grow: 1; }
    .mk-blog-block > div > h3 {
      font-size: 2rem;
      font-weight: 500;
      color: #616161;
      margin: 0rem 0.625rem 0.3125rem 0.625rem; }
      @media (max-width: 900px) {
        .mk-blog-block > div > h3 {
          font-size: 1.5rem; } }
      @media (max-width: 750px) {
        .mk-blog-block > div > h3 {
          margin: 0.625rem 0.625rem 0.3125rem 0.625rem; } }
    .mk-blog-block > div > h4 {
      font-size: 1.125rem;
      font-weight: 400;
      color: #7F7F7F;
      margin: 0rem 0.625rem 0.3125rem 1.875rem; }
      @media (max-width: 750px) {
        .mk-blog-block > div > h4 {
          margin: 0.625rem 0.625rem 0.3125rem 0.625rem; } }
    .mk-blog-block > div > div {
      color: #7F7F7F;
      border-top: solid 1px #f1f0f0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.5rem;
      padding-top: 0.3125rem;
      margin-left: 1.875rem;
      margin-right: 0.625rem; }
      @media (max-width: 750px) {
        .mk-blog-block > div > div {
          margin: 0.625rem 0.625rem 0.3125rem 0.625rem; } }
      .mk-blog-block > div > div > div {
        font-weight: 100;
        font-size: 0.875rem; }
        .mk-blog-block > div > div > div > .mk-blog-block-tag {
          display: flex; }
          .mk-blog-block > div > div > div > .mk-blog-block-tag > p {
            margin: 0px; }
          @media (max-width: 750px) {
            .mk-blog-block > div > div > div > .mk-blog-block-tag {
              display: none; } }
        .mk-blog-block > div > div > div > .mk-blog-block-info {
          display: flex; }
          .mk-blog-block > div > div > div > .mk-blog-block-info > p {
            margin: 0px; }
          @media (max-width: 750px) {
            .mk-blog-block > div > div > div > .mk-blog-block-info {
              flex-direction: column; } }
      .mk-blog-block > div > div > ul {
        list-style: none;
        padding-left: 0px;
        margin: 0px;
        padding-right: 0.625rem;
        color: #dadada;
        font-weight: 100;
        font-size: 0.75rem; }
        .mk-blog-block > div > div > ul > li {
          text-align: right; }
  .mk-blog-block > img {
    width: 14.375rem;
    height: 7.8125rem;
    margin-right: 0.625rem; }
    @media (max-width: 750px) {
      .mk-blog-block > img {
        width: 100%;
        height: auto;
        margin-top: 0.3125rem;
        margin-right: 0rem; } }
