<footer class="mk-footer">
    <div class="">
        <div class="mk-footer-left">
            <ul>
                <li><a href="#">技术支持</a></li>
                <li><a href="#">推荐站点</a></li>
            </ul>
        </div>
        <div class="mk-footer-center">
            <span class="mk-footer-design-note">Originally designed by mkalex</span>
            <div class="">
                <div></div>
                <div></div>
            </div>
            <embed src="/image/commen/logowhite.svg" width="65" height="65">
            <span class="mk-footer-copyright">© <span>2017</span> miki alex. All rights reserved. </span>
            <span class="mk-footer-beian" onclick="window.open('http://www.miibeian.gov.cn/state/outPortal/loginPortal.action','_blank')">沪ICP备16038028号</span>
        </div>
        <div class="mk-footer-right">
            <ul>
                <li><a href="#">合作伙伴</a></li>
                <li><a href="#">联系方式</a></li>
            </ul>
        </div>
    </div>
</footer>
