<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title> -->

  <!-- CSS -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/hilight.css" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/social-share-kit.css" type="text/css"> -->


<link rel="stylesheet" href="/assets/css/main.css" type="text/css">
<!-- icon -->
  <link rel="apple-touch-icon" href="/ico/logo152.png" sizes="152x152">
  <link rel="apple-touch-icon" href="/ico/logo120.png" sizes="120x120">
  <link rel="apple-touch-icon" href="/ico/logo76.png" sizes="76x76">
  <link rel="apple-touch-icon" href="/ico/logo60.png" sizes="60x60">
  <link rel="shortcut icon" href="/ico/favicon.ico" type="image/x-icon">


  <!-- Font -->

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->

<!--
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
 -->
 <script src="/assets/js/zeptojs.min.js" charset="utf-8"></script>
<script src="/assets/js/main.js" charset="utf-8"></script>

</head>
