<footer class="mk-footer">
    <div class="">
        <div class="mk-footer-left">
            <ul>
                <li>技术支持</li>
                <li>推荐站点</li>
            </ul>
        </div>
        <div class="mk-footer-center">
            <span class="mk-footer-design-note">Originally designed by mkalex</span>
            <div class="">
                <div></div>
                <div></div>
            </div>
            <embed src="/image/commen/logowhite.svg" width="65" height="65">
            <span class="mk-footer-copyright">© 2017 miki alex. All rights reserved. </span>
            <span class="mk-footer-beian">沪ICP备16038028号</span>
        </div>
        <div class="mk-footer-right">
            <ul>
                <li>合作伙伴</li>
                <li>联系方式</li>
            </ul>
        </div>
    </div>
</footer>
