<section id="blog-banner">
    <div class="banner-content">
        <hr class="banner-hr">
        <div class="">
            <h1>MK’s blog & portfolio</h1>
            <embed  src="{{ static('/image/commen/slogonwhite.svg')}}">
        </div>
    </div>
    <hr class="banner-hr">
</section>
