{% extends "webPage/layout/clean.jinja" %}


{% block content %}

<div class="mk-404">
    <h1>500</h1>
    <h2>服务器错误</h2>
    <h3>这可能不是一个小问题，您可以向开发者反馈<br>
    请提供信息如 url / 操作过程 发送邮件至<br>18516340862@163.com</h3>
    <button onclick="window.history.go(-1)">返回上一页</button>
</div>

{% endblock %}
