{% extends "webPage/layout/commen.jinja" %}

{% block banner %}
{% endblock %}

{% block content %}

<div class="mk-resume-block">
    <h2>Work exprience</h2>
    <ul>
        <li class="m-r-b-titles">
            <div >
                <div>
                    <h3>上海必乾信息科技</h3><h4>Shanghai BQTECH</h4>
                </div>
                <span>（September 2016  －Current）</span>
            </div>
            <ul>
                <li>
                    product design 
                </li>
                <li>
                    visual design 
                </li>
                <li>
                    FrontEnd dev
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="mk-resume-block">
    <h2>Education</h2>
    <ul>
        <li class="m-r-b-titles">
            <div >
                <div>
                    <h3>華東理工大學</h3><h4>ECUST</h4>
                </div>
                <span>（September 2014  －Current）</span>
            </div>
            <ul>
                <li>
                    product design 
                </li>
            </ul>
        </li>
    </ul>
</div>


<div class="mk-resume-block">
    <h2>Achievements</h2>
    <ul>
         <li class="m-r-b-details">
            <div>
                <div>
                    <h3>Piclass</h3><h4>online education system</h4>
                </div>
                <a href="http://www.piclass.cn">www.piclass.cn</a>
            </div>
            <p>
                前端的入门项目，曾作为学校大创参加上海市计算机竞赛获得一等奖，参加全国计算机大赛获得二等奖。
                在该项目中，首次使用自研UI框架，首次进行前端工程化实践，首次作为产品上线
            </p>
        </li>
        <li class="m-r-b-details">
            <div>
                <div>
                    <h3>Qpen</h3><h4>online math homework system</h4>
                </div>
                <a href="http://qpen.ecust.edu.cn">qpen.ecust.edu.cn</a>
            </div>
            <p>
                开发的首个SPA应用，是我所在创业公司产品的web前端版本。使用Vue2 vue-router2 vuex2 ，通过这个项目，
                对前端组件化的趋势 方法 和实践 有了深入认识，对es2015等下一代语言标准有了深入接触。收获了丰富的前端开发经验
            </p>
        </li>
    </ul>
</div>

{% endblock %}
