{% extends "webPage/layout/commen.jinja" %}

{% block banner %}
{% include "webPage/include/banner/bannerA.jinja" %}
{% endblock %}

{% block content %}


    <section class="mk-blog-list">
        {% for article in list %}
        <div class="mk-blog-block">
            <div class="">
                <h3>{{ article.title }}</h3>
                <h4>{%if article.sub_title%}
                    {{ article.sub_title }}
                    {%else%}no subtitle{%endif%}</h4>
                <div class="">
                    <div class="">
                        <div class="mk-blog-block-info">
                            <p>分类：{{ article.category }}</p><span>pv:{{ article.page_view }}</span>
                        </div>
                        <div class="mk-blog-block-tag">
                            <p>标签：</p> {% for tag in article.tags.all() %}
                            <span>{{tag.name}}</span>{% else %}<span>暂无标签</span>
                            {% endfor %}
                        </div>
                    </div>
                    <ul>
                        <li>revised {{article.revise_time|datetime}}</li>
                        <li>published 09 DEC 2016</li>
                    </ul>
                </div>
            </div>
            <img src="{{static("/image/test.png")}}" alt="" draggable="false">
        </div>
      {% endfor %}
    </section>

{% endblock %}
