{% extends "webPage/layout/commen.jinja" %}

{% block content %}
<p>您现在访问的是www.mkalex.com的技术预览版</p>
<p>这个站点用来作为线上测试环境，服务可能不稳定，
    内容也并非处于正常状态。如果您是随机访客，建议前往
<a href="http://www.mkalex.com">mkalex主站</a>访问</p>

<p>这个版本预计在2017年2月至3月上线至主站 届时相关功能将逐步完善，敬请期待</p>

<p>MK 2017 1 25</p>

{% endblock %}
