{% extends "webPage/layout/commen.jinja" %}

{% block content %}
<p>现在mkalex已经完全迁移到使用django的新版本上。很遗憾，由于最近几个月非常忙，所以很多功能还是没有时间实现。
目前结合现在的需求，可能会做一个在线bookmark的功能，因为浏览器书签不能满足我的需求。另外还在计划做一个cheatsheet的模块，这里先不多解释什么了。
</p>
<p>本站拒绝为远古浏览器提供支持，推荐使用chrome55以上版本或相同水平的内核的浏览器</p>

<!-- <p>您现在访问的是www.mkalex.com的技术预览版</p>
<p>这个站点用来作为未来版本的线上测试环境，服务可能不稳定，
    内容也并非处于正常状态。如果您是随机访客，建议前往
<a href="http://www.mkalex.com">mkalex主站</a>访问</p>

<p>由于本人时间精力有限，所以这个版本只支持最新浏览器最新web标准
为了良好的用户体验，推荐使用chrome55以上版本或相同水平的内核的浏览器查看
预计在2017年2月至3月上线至主站 届时相关功能将逐步完善，敬请期待</p>

<p>MK 2017 1 25</p> -->

{% endblock %}
