<!DOCTYPE html>
<html>
{% include head.html %}
    <body>
        {% include responsive.html %}
        <div class="mk-page">
            {% include title_banner.html %}

            {% include nav_main.html %}
            {% include title_main.html %}

            <div class="mk-container">
                <div class="" style="flex-grow:1">
                    {{ content }}
                </div>
                {% include right_col.html %}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
