<!DOCTYPE html>
<html>
{% include "webPage/include/head.jinja" %}
    <body>
        {% include "webPage/include/responsive.jinja" %}
        <div class="mk-page">

                {% block banner %}{% endblock %}

            {% include "webPage/include/nav_main.jinja" %}
            {% include "webPage/include/title_main.jinja" %}

            {% block content %}{% endblock %}
        </div>
        {% include "webPage/include/footerA.jinja" %}
    </body>
</html>
