{% include "webPage/include/head.jinja" %}
    <body>
        {% include "webPage/include/responsive.jinja" %}
        <div class="mk-page">

                {% block banner %}{% endblock %}

            {% include "webPage/include/nav_main.jinja" %}
            {% include "webPage/include/blog_title.jinja" %}

            <div class="mk-container">
              <div class="mk-main-layout">
                <div class="mk-main-content" >
                    <div class="mk-blog-box">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                {% include "webPage/include/right_col.jinja" %}
                </div>
            </div>
        </div>
        {% include "webPage/include/footerA.jinja" %}
    </body>
</html>
