<!DOCTYPE html>
<html>
{% include "webPage/include/head.html" %}
    <body>
        {% include "webPage/include/responsive.html" %}
        <div class="mk-page">

            {% include "webPage/include/nav_main.html" %}
            {% include "webPage/include/title_main.html" %}

            <div class="mk-container">
                <div class="" style="width:80%">
                    {% block content %}{% endblock %}
                </div>
                {% include "webPage/include/right_col.html" %}
            </div>
        </div>
        {% include "webPage/include/footerA.html" %}
    </body>
</html>
