{% extends "webPage/layout/clean-with-top-nav.jinja" %}

{% block banner %}
{% endblock %}

{% block content %}

<div class="" style="width:100%;height:50px">

</div>


<div class="mk-container">
  <div class="mk-portfolio-container">

    {% for item in list %}
    <div class="mk-portfolio-block">
      <div class="mk-p-b-thumb"
      onclick="window.location.href='{{ url('webPage:portfolio_detail', kwargs={'name': item.url_name}) }}'">
        {%if item.has_cover%}
          <img src="{{static("/image/portfolio/"+item.url_name+"/"+"cover.png")}}" alt="" draggable="false">
        {%else%}
          <img src="{{static("/image/commen/defaultPortfolioCover.png")}}" alt="" draggable="false">
        {%endif%}
      </div>
      <h3>{{ item.name }}</h3>
      <div class="mk-p-b-info">
        <span>viewd:{{ item.page_view }}</span>
        <span>created:{{item.publish_time|datetime}}</span>
      </div>
    </div>
    {% endfor %}


    <!-- {% for i in [1,1,1,1,1] %}
    <div class="mk-portfolio-block">
      <div class="mk-p-b-thumb">
        <img src="" alt="">
      </div>
      <h3>必乾信息科技企业CIS设计V1</h3>
      <div class="mk-p-b-info">
        <span>viewd:123</span>
        <span>created:2016-1-1</span>
      </div>
    </div>
    {% endfor %} -->



  </div>
</div>



{% endblock %}
