
$line:#e8e8e8;
$line-dark:#cdcdcd;
$line-light:#f1f0f0;

$line-border:solid 1px $line;
$line-border-dark:solid 1px $line-dark;
$line-border-light:solid 1px $line-light;

$page-background:#fafafa;

html{
}

body{
    display: flex;
    min-height: 100vh;//sticky footer
    flex-direction: column;
    >.mk-page{
        flex: 1;
    }

    margin:0px;
    padding-top: 0px;
    font-family:"PingFang SC","microsoft yahei",sans-serif;
    background-color: $page-background;
}

.mk-small-dot{
    width:rem(7px);
    height:rem(7px);
    border-radius: 20px;
    background-color: $line;
}

.mk-small-dot-tail{
    &::after{
        position: relative;
        display: block;
        float:right;
        content: ' ';
        @extend .mk-small-dot;
    }
}

::selection {
    color:#FFFFFF;
    background-color:rgb(210, 63, 63);
    border-radius: 10px;
}

::-webkit-scrollbar {
		  width: 15px;
		  height: 15px;
	} /* 这是针对缺省样式 (必须的) */

	::-webkit-scrollbar-track {
		  background-color: rgb(230, 71, 71);
	} /* 滚动条的滑轨背景颜色 */

	::-webkit-scrollbar-thumb {
		  background-color: rgba(0, 0, 0, 1);
	} /* 滑块颜色 */

	::-webkit-scrollbar-button {
		  background-color: rgb(139, 19, 19);
          width:0px;
          height: 0px;
	} /* 滑轨两头的监听按钮颜色 */

	::-webkit-scrollbar-corner {
		  background-color: rgb(0, 0, 0);
	} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
