.mk-blog-list{
    width:100%;
    box-sizing: border-box;
    // padding-left: rem(10px);
    padding-right: rem(10px);
    margin-top: rem(30px);
}

$mk-blog-block-changeflowwidth:750px;
.mk-blog-block{
    width:100%;
    height:rem(145px);
    border-radius: rem(10px);
    border:$line-border;
    margin-bottom: rem(10px);
    display: flex;cursor: pointer;
    justify-content: space-between;
    align-items: center;
    @media(max-width: $mk-blog-block-changeflowwidth){
        flex-direction: column-reverse;
        height:auto;
        padding-left: rem(5px);
        padding-right: rem(5px);
    }
    &:hover{
        background-color: #F1F3F2;
    }
    >div{
        flex-grow: 1;
        width:100%;
        >h3{
            font-size: rem(32px);
            font-weight: 400;
            color: #616161;
            margin:rem(0px) rem(10px) rem(5px) rem(10px);
            @media(max-width: 900px){
                font-size: rem(24px);
            }
            @media(max-width: $mk-blog-block-changeflowwidth){
                margin:rem(10px) rem(10px) rem(5px) rem(10px);
            }
        }
        >h4{
            font-size: rem(18px);
            font-weight: 400;
            color: #7F7F7F;
            margin: rem(0px) rem(10px) rem(5px) rem(30px);
            @media(max-width: $mk-blog-block-changeflowwidth){
                margin:rem(10px) rem(10px) rem(5px) rem(10px);
            }
        }
        >div{
            color:#7F7F7F;
            border-top: $line-border-light;
            display: flex;
            justify-content: space-between;align-items: center;
            height: rem(40px);
            padding-top:rem(5px);
            margin-left: rem(30px);
            margin-right: rem(10px);
            @media(max-width: $mk-blog-block-changeflowwidth){
                margin:rem(10px) rem(10px) rem(5px) rem(10px);
            }
            >div{
                font-weight: 100;
                font-size: rem(14px);
                // display: flex;
                >.mk-blog-block-tag{
                    display: flex;
                    >p{
                        margin:0px;
                    }
                    >span{
                        padding-left: rem(5px);padding-right: rem(5px)
                    }
                    @media(max-width: $mk-blog-block-changeflowwidth){
                        display: none;
                    }
                }
                >.mk-blog-block-info{
                    display: flex;
                    >p{
                        margin:0px;
                    }
                    >span{
                        padding-left: rem(5px);padding-right: rem(5px)
                    }
                    @media(max-width: $mk-blog-block-changeflowwidth){
                        flex-direction: column;
                    }
                }
            }
            >ul{
                list-style: none;
                padding-left: 0px;margin: 0px;padding-right: rem(10px);
                color:rgb(218, 218, 218);
                font-weight: 100;
                font-size: rem(12px);
                >li{
                    text-align: right;
                }
            }
        }
    }
    >img{
        height:rem(125px);
        width:auto;
        margin-right: rem(10px);
        // background-color: #fff;
        overflow: hidden;border-radius: rem(5px);
        @media(max-width: $mk-blog-block-changeflowwidth){
            width: 100%;
            height: auto;
            margin-top:rem(5px);
            margin-right: rem(0px);
        }
    }
}
