.mk-blog-box{
    padding-left: rem(10px);
    padding-right: rem(10px);
    img{
        max-width:100%;
    }

    color:rgb(73, 73, 73);
    font-size: rem(16px);
    font-weight: 300;

    h1, h2, h3, h4 ,h5 ,h6{
        font-weight: 400;
    }
}
