.mk-title-main{
    display: flex;
    width:100%;
    height:rem(140px);
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    @media (max-width:700px ) {
        height:rem(90px);
    }
    >.mk-title-main-t{
        display: flex;
        align-items: center;
        flex-grow: 1;
        >.mk-title-main-s{
            @media (max-width:700px ) {
                display: none;
            }
            @extend .mk-small-dot;
            &::before{
                content: '';
                display: block;
                height:rem(60px);
                margin-top: rem(-66px);
                margin-left: rem(3px);
                border-left: $line-border-light;
            }
            &::after{
                content: '';
                display: block;
                height:rem(60px);
                margin-top: rem(20px);
                margin-left: rem(3px);
                border-left: $line-border-light;
            }
        }
        >.mk-title-main-h{
            flex-grow: 1;
            @media (max-width:700px ) {
                display: flex;flex-direction: row-reverse;
            }
            >h1{
                display: inline-block;
                font-weight: 100;font-size: rem(48px);
                padding-left: 10px;padding-right: 10px;
                max-width:rem(500px);
                background-color: $page-background;
                white-space: nowrap;
                @media (max-width:700px ) {
                    margin-right: 20px;
                    white-space: nowrap;
                    font-size: rem(32px);
                    z-index: -1;
                }
            }
            &::after{
                content: '';
                display: block;
                width:100%;
                position: relative;
                top:rem(-64.5px);
                z-index:-1;
                border-top: $line-border-light;
                @media (max-width:700px ) {
                    display: none;
                }
            }
        }
        >.mk-blog-title{
            padding-left: rem(20px);
            @media (max-width:600px ) {
                padding: rem(10px)
            }
            >h1{
                font-weight: 200;font-size: rem(42px);
                margin:0px;
                @media (max-width:1000px ) {
                    font-size: rem(32px);
                }
                @media (max-width:600px ) {
                    // margin-top:rem(40px);
                    font-size: rem(24px);font-weight: 600;
                }
            }
            >h2{
                margin:0px;color:rgb(102, 102, 102);
                font-weight: 200;font-size: rem(24px);
                @media (max-width:600px ) {
                    // margin-top:rem(40px);
                    font-size: rem(16px);
                }
            }
        }
    };
    >.mk-title-main-logo{
        width:rem(200px);
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:700px ) {
            display: none;
        }
        >div{
            width:rem(150px);
            height:rem(150px);
            border-radius: rem(75px);
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            >embed{
                width:rem(100px);
                height:rem(100px);
            }
        }
    }
}
